* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1300px;
  font-size: 16px;
  background-color: #7400b8;
  color: #fff;
}

.container-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: 85vh;
}

.container-aboutme h1 {
  font-size: 2em;
  font-style: italic;
}

.container-aboutme .about {
  font-size: 1.1em;
  transition: all 0.7s ease;
  cursor: context-menu;
  border-radius: 5px;
  padding: 10px;
}

.container-aboutme .about:hover {
  letter-spacing: 5px;
  filter: drop-shadow(2px 2px 10px #fff);
}

.container-aboutme .about i {
  font-size: 1.7em;
}
/*# sourceMappingURL=aboutme-style.css.map */