* {
  box-sizing: border-box;
  max-width: 1280px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-image: linear-gradient(#1FA2FF, #12D8FA, #A6FFCB);
  background-size: 400% 400%;
  animation: backk 10s infinite;
  height: 100vh;
}

@keyframes backk {
  0% {
    background-position: 0 30%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body .prototype-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #efefef;
  box-shadow: 0 0 30px #444;
  margin: 80px 0 0 0;
  width: 40%;
}

body .prototype-section .container .imgmain {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .imgmain img {
  width: 55%;
  border-radius: 50%;
  border: 3px dotted #7400b8;
}

body .prototype-section .container .imgmain .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .imgmain .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .imgmain .icon-section-social i {
  font-size: 35px;
  color: #7400b8;
  margin: 35px 0 35px 0;
  transition: all 1s ease-out;
}

body .prototype-section .container .imgmain .icon-section-social i:hover {
  color: #444;
  border-bottom: 1px solid #7400b8;
}

body .prototype-section .container .description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .description h1 {
  font-size: 2em;
  margin: 0 0 5px 0;
}

body .prototype-section .container .description h1::first-letter {
  color: #7400b8;
}

body .prototype-section .container .description P {
  font-size: 0.8em;
  margin: 0 0 15px 0;
}

body .prototype-section .container .description .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0 13px 10px 0;
}

body .prototype-section .container .description .navigation ul .personal-information {
  position: relative;
  padding: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .personal-information:hover {
  color: #7400b8;
}

body .prototype-section .container .description .navigation ul .personal-information:hover .personal-main {
  display: block;
}

body .prototype-section .container .description .navigation ul .personal-main {
  display: none;
  position: absolute;
  top: 20px;
  left: -17px;
  width: 120%;
  padding: 15px;
  border-radius: 5px;
  background-color: #efefef;
}

body .prototype-section .container .description .navigation ul .personal-main .personal {
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 1px;
  text-align: center;
  font-size: .9em;
  border-radius: 5px;
  color: #000;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .personal-main .personal:hover {
  color: #fff;
  background-color: #7400b8;
}

body .prototype-section .container .description .navigation ul .education-information {
  padding: 0 10px 0 0;
  position: relative;
  padding: 0 10px 0 0;
  cursor: pointer;
}

body .prototype-section .container .description .navigation ul .education-information:hover .education-main {
  display: block;
}

body .prototype-section .container .description .navigation ul .education-main {
  display: none;
  display: none;
  position: absolute;
  top: 20px;
  left: -30px;
  width: 120%;
  padding: 15px;
  border-radius: 5px;
  background-color: #efefef;
}

body .prototype-section .container .description .navigation ul .education-main .education {
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 1px;
  text-align: center;
  font-size: .9em;
  border-radius: 5px;
  color: #000;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .education-main .education:hover {
  color: #fff;
  background-color: #7400b8;
}

body .prototype-section .container .description .navigation ul .habitance-place-information {
  position: relative;
  cursor: pointer;
}

body .prototype-section .container .description .navigation ul .habitance-place-information:hover .habitance-main {
  display: block;
}

body .prototype-section .container .description .navigation ul .habitance-main {
  display: none;
  display: none;
  position: absolute;
  top: 20px;
  left: -100px;
  width: 200%;
  padding: 15px;
  border-radius: 5px;
  background-color: #efefef;
}

body .prototype-section .container .description .navigation ul .habitance-main .habitance {
  transition: all 0.6s ease;
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 1px;
  text-align: center;
  font-size: .9em;
  border-radius: 5px;
  color: #000;
}

body .prototype-section .container .description .navigation ul .habitance-main .habitance:hover {
  color: #fff;
  background-color: #7400b8;
}
/*# sourceMappingURL=style.css.map */