* {
  box-sizing: border-box;
  max-width: 1280px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-image: linear-gradient(#1FA2FF, #12D8FA, #A6FFCB);
  background-size: 400% 400%;
  animation: backk 10s infinite;
  height: 100vh;
}

@keyframes backk {
  0% {
    background-position: 0 30%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body .prototype-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

body .prototype-section .container {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #efefef;
  box-shadow: 0 0 30px #444;
  margin: 80px 0 0 0;
  width: 40%;
}

body .prototype-section .container .imgmain {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .imgmain img {
  width: 55%;
  border-radius: 50%;
  border: 3px dotted #7400b8;
}

body .prototype-section .container .imgmain .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .imgmain .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .imgmain .icon-section-social i {
  font-size: 35px;
  color: #7400b8;
  margin: 35px 0 35px 0;
  transition: all 1s ease-out;
}

body .prototype-section .container .imgmain .icon-section-social i:hover {
  color: #444;
  border-bottom: 1px solid #7400b8;
}

body .prototype-section .container .description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

body .prototype-section .container .description h1 {
  font-size: 2em;
  margin: 0 0 5px 0;
}

body .prototype-section .container .description h1::first-letter {
  color: #7400b8;
}

body .prototype-section .container .description P {
  font-size: 0.8em;
  margin: 0 0 15px 0;
}

body .prototype-section .container .description .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0 13px 10px 0;
}

body .prototype-section .container .description .navigation ul .personal-information {
  z-index: 1;
  position: relative;
  padding: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .personal-information:hover {
  color: #7400b8;
}

body .prototype-section .container .description .navigation ul .personal-information:hover .personal-main {
  display: block;
}

body .prototype-section .container .description .navigation ul .personal-main {
  display: none;
  position: absolute;
  top: 20px;
  left: -17px;
  width: 120%;
  padding: 15px;
  border-radius: 5px;
  background-color: #efefef;
}

body .prototype-section .container .description .navigation ul .personal-main .personal {
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 1px;
  text-align: center;
  font-size: .9em;
  border-radius: 5px;
  color: #000;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .personal-main .personal:hover {
  color: #fff;
  background-color: #7400b8;
}

body .prototype-section .container .description .navigation ul .education-information {
  z-index: 1;
  padding: 0 10px 0 0;
  position: relative;
  padding: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .education-information:hover {
  color: #7400b8;
}

body .prototype-section .container .description .navigation ul .education-information:hover .education-main {
  display: block;
}

body .prototype-section .container .description .navigation ul .education-main {
  display: none;
  display: none;
  position: absolute;
  top: 20px;
  left: -30px;
  width: 120%;
  padding: 15px;
  border-radius: 5px;
  background-color: #efefef;
}

body .prototype-section .container .description .navigation ul .education-main .education {
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 1px;
  text-align: center;
  font-size: .9em;
  border-radius: 5px;
  color: #000;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .education-main .education:hover {
  color: #fff;
  background-color: #7400b8;
}

body .prototype-section .container .description .navigation ul .habitance-place-information {
  position: relative;
  cursor: pointer;
  transition: all 0.6s ease;
}

body .prototype-section .container .description .navigation ul .habitance-place-information:hover {
  color: #7400b8;
}

body .prototype-section .container .description .navigation ul .habitance-place-information:hover .habitance-main {
  display: block;
}

body .prototype-section .container .description .navigation ul .habitance-main {
  display: none;
  display: none;
  position: absolute;
  top: 20px;
  left: -100px;
  width: 200%;
  padding: 15px;
  border-radius: 5px;
  background-color: #efefef;
}

body .prototype-section .container .description .navigation ul .habitance-main .habitance {
  transition: all 0.6s ease;
  cursor: pointer;
  margin: 10px 0 0 0;
  padding: 1px;
  text-align: center;
  font-size: .9em;
  border-radius: 5px;
  color: #000;
}

body .prototype-section .container .description .navigation ul .habitance-main .habitance:hover {
  color: #fff;
  background-color: #7400b8;
}

body .prototype-section .anime {
  left: 1px;
  color: #7400b8;
  position: absolute;
  top: 10px;
  font-size: 1.3em;
  animation: move 10s infinite ease;
  transition: all 1s ease;
}

body .prototype-section .anime:hover {
  font-size: 1.5em;
}

@keyframes move {
  0% {
    left: 1%;
  }
  10% {
    left: 6%;
  }
  20% {
    left: 10%;
  }
  30% {
    left: 20%;
  }
  40% {
    left: 30%;
  }
  50% {
    left: 40%;
  }
  60% {
    left: 50%;
  }
  70% {
    left: 60%;
  }
  80% {
    left: 70%;
  }
  90% {
    left: 84%;
  }
}

body .prototype-section .anime2 {
  right: 1px;
  color: #ff7d00;
  position: absolute;
  top: 116%;
  font-size: 1.4em;
  animation: move2 10s infinite ease;
  transition: all 1s ease;
}

body .prototype-section .anime2:hover {
  font-size: 1.6em;
}

@keyframes move2 {
  0% {
    right: 1%;
  }
  10% {
    right: 6%;
  }
  20% {
    right: 10%;
  }
  30% {
    right: 20%;
  }
  40% {
    right: 30%;
  }
  50% {
    right: 40%;
  }
  60% {
    right: 50%;
  }
  70% {
    right: 60%;
  }
  80% {
    right: 70%;
  }
  90% {
    right: 84%;
  }
}

@media screen and (min-width: 836px) and (max-width: 1194px) {
  body .prototype-section .container {
    margin: 10% 0 0 0;
    width: 56%;
  }
  body .prototype-section .container .imgmain img {
    width: 43%;
  }
  body .prototype-section .container .imgmain .icon-section-social i {
    font-size: 32px;
  }
  body .prototype-section .container .description .navigation ul .personal-information .personal-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -2px;
    width: 200%;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .container .description .navigation ul .education-information .education-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -90px;
    width: 190%;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .container .description .navigation ul .habitance-place-information .habitance-main {
    z-index: 10;
    display: none;
    position: absolute;
    top: 20px;
    left: -225px;
    width: 300%;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .anime {
    color: #7400b8;
    position: absolute;
    top: 40px;
    font-size: 1.3em;
  }
  @keyframes move {
    0% {
      left: 1%;
    }
    10% {
      left: 6%;
    }
    20% {
      left: 10%;
    }
    30% {
      left: 20%;
    }
    40% {
      left: 30%;
    }
    50% {
      left: 40%;
    }
    60% {
      left: 50%;
    }
    70% {
      left: 75%;
    }
  }
  body .prototype-section .anime2 {
    color: #ff7d00;
    position: absolute;
    top: 104%;
    font-size: 1.4em;
  }
  @keyframes move2 {
    0% {
      right: 1%;
    }
    10% {
      right: 6%;
    }
    20% {
      right: 10%;
    }
    30% {
      right: 20%;
    }
    40% {
      right: 30%;
    }
    50% {
      right: 40%;
    }
    60% {
      right: 50%;
    }
    70% {
      right: 75%;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 835px) {
  body .prototype-section .container {
    margin: 10% 0 0 0;
    width: 80%;
  }
  body .prototype-section .container .imgmain img {
    width: 37%;
  }
  body .prototype-section .container .imgmain .icon-section-social i {
    font-size: 32px;
  }
  body .prototype-section .container .description .navigation ul .personal-information .personal-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -2px;
    width: 200%;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .container .description .navigation ul .education-information .education-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -90px;
    width: 190%;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .container .description .navigation ul .habitance-place-information .habitance-main {
    z-index: 10;
    display: none;
    position: absolute;
    top: 20px;
    left: -225px;
    width: 300%;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .anime {
    color: #7400b8;
    position: absolute;
    top: 15px;
    font-size: 1.3em;
  }
  @keyframes move {
    0% {
      left: 1%;
    }
    10% {
      left: 6%;
    }
    20% {
      left: 10%;
    }
    30% {
      left: 20%;
    }
    40% {
      left: 30%;
    }
    50% {
      left: 40%;
    }
    60% {
      left: 50%;
    }
    70% {
      left: 55%;
    }
  }
  body .prototype-section .anime2 {
    color: #ff7d00;
    position: absolute;
    top: 106%;
    font-size: 1.4em;
  }
  @keyframes move2 {
    0% {
      right: 1%;
    }
    10% {
      right: 6%;
    }
    20% {
      right: 10%;
    }
    30% {
      right: 20%;
    }
    40% {
      right: 30%;
    }
    50% {
      right: 40%;
    }
    60% {
      right: 50%;
    }
    70% {
      right: 55%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  body .prototype-section .container {
    margin: 15% 0 0 0;
    width: 73%;
  }
  body .prototype-section .container .imgmain img {
    width: 50%;
  }
  body .prototype-section .container .imgmain .icon-section-social i {
    font-size: 30px;
  }
  body .prototype-section .container .description p {
    display: none;
  }
  body .prototype-section .container .description .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    height: 90px;
    margin: 0 0 0 0;
  }
  body .prototype-section .container .description .navigation ul .personal-information {
    padding: 0;
    z-index: 10;
  }
  body .prototype-section .container .description .navigation ul .personal-information .personal-main {
    border: 1px solid #7400b8;
    display: none;
    position: absolute;
    top: 20px;
    left: -125px;
    width: 260%;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .container .description .navigation ul .personal-information .personal-main .personal {
    margin: 5px 0 0 0;
  }
  body .prototype-section .container .description .navigation ul .education-information {
    padding: 0;
    z-index: 9;
  }
  body .prototype-section .container .description .navigation ul .education-information .education-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -120px;
    width: 240%;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid #7400b8;
  }
  body .prototype-section .container .description .navigation ul .education-information .education-main .education {
    margin: 5px 0 0 0;
  }
  body .prototype-section .container .description .navigation ul .habitance-place-information {
    z-index: 8;
  }
  body .prototype-section .container .description .navigation ul .habitance-place-information .habitance-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -145px;
    width: 340%;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid #7400b8;
  }
  body .prototype-section .anime {
    color: #7400b8;
    position: absolute;
    top: 25px;
    font-size: 1.3em;
    animation: move 10s infinite ease;
  }
  body .prototype-section .anime:hover {
    font-size: 1.5em;
  }
  @keyframes move {
    0% {
      left: 1%;
    }
    10% {
      left: 6%;
    }
    20% {
      left: 10%;
    }
    30% {
      left: 20%;
    }
    40% {
      left: 30%;
    }
    50% {
      left: 40%;
    }
    60% {
      left: 50%;
    }
    70% {
      left: 55%;
    }
  }
  body .prototype-section .anime2 {
    color: #ff7d00;
    position: absolute;
    top: 103%;
    font-size: 1.4em;
    animation: move2 10s infinite ease;
  }
  body .prototype-section .anime2:hover {
    font-size: 1.6em;
  }
  @keyframes move2 {
    0% {
      right: 1%;
    }
    10% {
      right: 6%;
    }
    20% {
      right: 10%;
    }
    30% {
      right: 20%;
    }
    40% {
      right: 30%;
    }
    50% {
      right: 40%;
    }
    60% {
      right: 50%;
    }
    70% {
      right: 55%;
    }
  }
}

@media screen and (max-width: 480px) {
  body .prototype-section .container {
    margin: 25px 0 0 0;
    width: 80%;
  }
  body .prototype-section .container .imgmain img {
    width: 47%;
  }
  body .prototype-section .container .imgmain .icon-section-social i {
    font-size: 30px;
  }
  body .prototype-section .container .description h1 {
    font-size: 1.5em;
  }
  body .prototype-section .container .description p {
    display: none;
  }
  body .prototype-section .container .description .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    height: 90px;
    margin: 0 0 1px 0;
  }
  body .prototype-section .container .description .navigation ul .personal-information {
    padding: 0;
    z-index: 10;
  }
  body .prototype-section .container .description .navigation ul .personal-information .personal-main {
    border: 1px solid #7400b8;
    display: none;
    position: absolute;
    top: 20px;
    left: -49.5px;
    width: 163%;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
  }
  body .prototype-section .container .description .navigation ul .personal-information .personal-main .personal {
    margin: 5px 0 0 0;
  }
  body .prototype-section .container .description .navigation ul .education-information {
    padding: 0;
    z-index: 9;
  }
  body .prototype-section .container .description .navigation ul .education-information .education-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -43.5px;
    width: 152%;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid #7400b8;
  }
  body .prototype-section .container .description .navigation ul .education-information .education-main .education {
    margin: 5px 0 0 0;
  }
  body .prototype-section .container .description .navigation ul .habitance-place-information .habitance-main {
    display: none;
    position: absolute;
    top: 20px;
    left: -69px;
    width: 210%;
    padding: 5px;
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid #7400b8;
    height: 80px;
  }
  .anime {
    display: none;
  }
  .anime2 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */