$mar : 'margin' ;
$padd : 'padding' ;
$hei : 'height' ;
$fonts : 'font-size' ;
$bords : 'border-radius' ;
@mixin displays($dir,$just,$align,$wrap){
    display:flex;
    flex-direction:$dir;
    justify-content:$just;
    align-items:$align;
    flex-wrap:$wrap;
} ;
@mixin transition($argumants...) {
    transition:$argumants;
} ;
@mixin shadows($shadows...) {
    box-shadow:$shadows;
}
*{
    box-sizing: border-box;
   #{$mar}: 0;
    #{$padd}: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1300px ;
    #{$fonts}:16px;
   background-color:#7400b8 ;
   color:#fff;
}

   
.container-aboutme{
    h1{
        #{$fonts}:2em;
        font-style: italic;
    }
    @include displays(column,space-evenly,center,nowrap);
    #{$hei}: 85vh ;
    .about{
        #{$fonts}:1.1em;
        @include transition(all .7s ease);
        cursor:context-menu;
        #{$bords}:5px;
        #{$padd}:10px;
        &:hover{
        letter-spacing:5px;
        filter: drop-shadow(2px 2px 10px #fff);
        }
    i{
        #{$fonts}:1.7em;
    }
    }
};