$mar : 'margin' ;
$padd : 'padding' ;
$wid : 'width' ;
$hei : 'height' ;
$bords : 'border-radius' ;
$fonts : 'font-size' ;
@function fontSize($param,$param2){
     @return $param + $param2 ; 
};
@mixin displays($dir,$just,$align,$wrap){
    display:flex;
    flex-direction:$dir;
    justify-content:$just;
    align-items:$align;
    flex-wrap:$wrap;
} ;
@mixin transition($argumants...) {
    transition:$argumants;
} ;
@mixin shadows($shadows...) {
    box-shadow:$shadows;
}
@mixin animations($anime...) {
    animation: $anime;
}
@mixin information() {
    position: relative;
    #{$padd}:0 10px 0 0;
    cursor: pointer;
}
@mixin mainsStyle($top,$left,$width,$padding){
    display: none;
    position: absolute;
    top: $top;
    left:$left;
    #{$wid}:$width;
    #{$padd}:$padding;
    #{$bords}:5px;
    background-color: map-get($map: $colors-main, $key: backgroundCart);
}
@mixin item-text-style {
    cursor: pointer;
    #{$mar}:10px 0 0 0 ;
    #{$padd}:1px;
    text-align: center;
    #{$fonts}:.9em;
    #{$bords}:5px;
    color:#000;
}
@mixin anime-style($color,$top,$size) {
    color:$color;
    position: absolute;
    top:$top;
    #{$fonts}:$size;
}
$colors-main : (
iconAndBorder : #7400b8 ,
backgroundCart :  #efefef ,
);
*{
    box-sizing: border-box;
    max-#{$wid}: 1280px;
    #{$fonts}: 16px;
    #{$mar}:0;
    #{$padd}:0;
    font-family:cursive;
};
body{
    background-image: linear-gradient( #1FA2FF,#12D8FA,#A6FFCB);
    background-size: 400% 400%;
    @include animations(backk 10s infinite);
    @keyframes backk {
        0%{background-position:0 30%};
        50%{background-position: 50% 50%};
        100%{background-position: 100% 100%;}
    }
    #{$hei}: 100vh;
            .prototype-section{
            @include displays(row,center,center,nowrap);
            position: relative;


            .container{
                border-top-left-radius: 45px;
                border-bottom-right-radius: 45px;
                border-top-right-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: map-get($map: $colors-main, $key: backgroundCart) ;
                @include shadows( 0 0 30px #444);
                #{$mar}:80px 0 0 0;
                #{$wid}: 40%;
                
                .imgmain{
                    padding: 20px;
                    @include displays(row,space-between,center,nowrap);
                    img{
                        #{$wid}:55%;
                        #{$bords}:50%;
                        border: 3px dotted #7400b8 ;
                    }
                    .left{
                       @include displays(column,space-between,center,nowrap);
                    }
                    .right{
                        @include displays(column,space-between,center,nowrap);
                    }
                    .icon-section-social{
                        i{
                            #{$fonts}:35px;
                            color: map-get($map: $colors-main, $key: iconAndBorder );
                            #{$mar}:35px 0 35px 0;
                            @include transition(all 1s ease-out) ;
                            &:hover{
                            color: #444;
                            border-bottom: 1px solid map-get($map: $colors-main, $key: iconAndBorder );
                            }
                        }
                    }
                }

                .description{
                    @include displays(column,space-evenly,center,nowrap);
                    h1{
                        #{$fonts}:fontSize(1em,1em);
                        #{$mar}:0 0 5px 0;
                        &::first-letter{
                            color: map-get($map: $colors-main, $key: iconAndBorder);
                        }
                    }
                    P{
                        #{$fonts}:0.8em;
                        #{$mar}:0 0 15px 0;
                    }


                    .navigation{
                        ul{
                        @include displays(row,center,center,nowrap);
                        list-style-type: none;
                        #{$mar}:0 13px 10px 0;

                        .personal-information{
                        z-index: 1;
                        @include information();
                        @include transition(all .6s ease);
                        &:hover{
                            color: map-get($map: $colors-main, $key:iconAndBorder );
                            .personal-main{
                                display: block;
                            }
                        }
                        }
                        .personal-main{
                            @include mainsStyle(20px,-17px,120%,15px);
                            .personal{
                               @include item-text-style();
                                @include transition(all .6s ease);
                                &:hover{
                                    color: #fff;
                                    background-color: map-get($map: $colors-main, $key: iconAndBorder);
                                }
                            }
                        }

                        .education-information{
                            z-index: 1;
                            #{$padd}:0 10px 0 0;
                            @include information();
                            @include transition(all .6s ease);
                            &:hover{
                                color: map-get($map: $colors-main, $key:iconAndBorder );
                                .education-main{
                                    display: block;
                                }
                            }
                        }
                        .education-main{
                            display: none;
                            @include mainsStyle(20px,-30px,120%,15px);
                            .education{
                                @include item-text-style();
                                @include transition(all .6s ease);
                                &:hover{
                                    color: #fff;
                                    background-color: map-get($map: $colors-main, $key: iconAndBorder);
                                }
                            }
                        }
                        .habitance-place-information{
                            position: relative;
                            cursor: pointer;
                            @include transition(all .6s ease);
                            &:hover{
                                color: map-get($map: $colors-main, $key:iconAndBorder );
                                .habitance-main{
                                    display: block;
                                }
                            }
                        }
                        .habitance-main{
                            display: none;
                            @include mainsStyle(20px,-100px,200%,15px);
                            .habitance{
                                @include transition(all .6s ease);
                                @include item-text-style();
                                &:hover{
                                    color: #fff;
                                    background-color: map-get($map: $colors-main, $key: iconAndBorder);
                                }
                            }
                        }
                        }
                    }

                }
            }
            .anime{
                left:1px;
                @include anime-style(map-get($map: $colors-main, $key: iconAndBorder),10px,1.3em);
                @include animations(move 10s infinite ease);
                @include transition(all 1s ease);
                &:hover{
                    #{$fonts}:1.5em;
                }
                @keyframes move {
                    0%{left:1%;};
                    10%{left:6%;};
                    20%{left:10%;};
                    30%{left:20%;};
                    40%{left:30%;};
                    50%{left:40%;};
                    60%{left:50%;};
                    70%{left:60%;};
                    80%{left:70%;};
                    90%{left:84%;};
                    

                }
            }
            .anime2{
                right:1px;
                @include anime-style(#ff7d00,116%,1.4em);
                @include animations(move2 10s infinite ease);
                @include transition(all 1s ease);
                &:hover{
                    #{$fonts}:1.6em;
                }
                @keyframes move2 {
                    0%{right:1%;};
                    10%{right:6%;};
                    20%{right:10%;};
                    30%{right:20%;};
                    40%{right:30%;};
                    50%{right:40%;};
                    60%{right:50%;};
                    70%{right:60%;};
                    80%{right:70%;};
                    90%{right:84%;};
                    
                }
            }
        }
    
}
// responsive with media Query
@import '_resposive-design.scss';








